<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AssigEmpSal_Tax/src/EmpTotSalry_Tax.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="EmpTotSalry_Tax"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AssigEmpSal_Tax"/>
</launchConfiguration>
